{{yield paginatedItems}}
<div class="pagation-items col-md-12">
  {{#if showPrevious}}
  <button {{action "previousClicked"}}>{{previousText}}</button>
  {{else}}
      <button class="disabled-button" disabled>{{previousText}}</button>
  {{/if}}
  {{#each pageNumbers as |pageNumber|}}
  <button {{action "pageClicked" pageNumber}}> {{pageNumber}}</button>
  {{/each}}
  {{#if showNext}}
  <button {{action "nextClicked"}}>{{nextText}}</button>
  {{else}}
    <button class="disabled-button" disabled>{{nextText}}</button>
  {{/if}}
</div>
