{{outlet}}

<div class="column is-half is-offset-one-quarter">
  <h1 class="repo-heading"> LIST OF <span class="repo-name">{{q}}</span> REPOS </h1>
</div>

{{#list-pagination paginateBy=paginateBy items=model.items as |teams|}}
  {{#repo-list teams=teams as |repo|}}
  <div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{repo.owner.avatar_url}}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{repo.full_name}}</strong>
          <br>
          {{repo.description}}
          </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="columns repo-items">
            <li class="level-item"><i class="fa fa-language repo-icons"></i>
             {{repo.language}}
           </li>
            <li class="level-item"><i class="fa fa-code-fork repo-icons"></i>
              {{repo.forks_count}}
            </li>
            <li class="level-item"><i class="fa fa-clock-o repo-icons"></i>
            {{repo.watchers_count}}
          </li>
            <li class="level-item"><i class="fa fa-star repo-icons"></i>
            {{repo.stargazers_count}}
          </li>
        </div>
        </div>
      </nav>
    </div>
  </article>
</div>
{{/repo-list}}
{{/list-pagination}}
